.paragraph {
    font-family: "barlow";
    font-weight: 500;
    color: var(--LightBlue);
    font-size: 1rem;
    line-height: 1.625rem;
}
.desktop {
    @media screen and(min-width:978px) {
        font-size: 1.125rem;
    }
}
