@import "./variables.scss";

.main_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    @media screen and(min-width:$tablet) {
        padding-bottom: 43px;
    }
    @media screen and(min-width:$desktop) {
        padding-bottom: 40px;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0;
    margin-bottom: 64px;

    @media screen and(min-width:$tablet) {
        padding: 40px 40px 0;
        margin-bottom: 62px;
    }

    @media screen and(min-width:$desktop) {
        width: 90%;
        max-width: 1110px;
        margin-top: 55px;
        margin-bottom: 83px;
        padding: 0;
    }
}
.main {
    width: 100%;
}
.main_container {
    @media screen and(min-width:$desktop) {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
}

.main_intro {
    @media screen and(min-width:$tablet) {
        display: flex;
        padding-left: 40px;
    }

    @media screen and(min-width:$desktop) {
        max-width: 1110px;
        padding-left: 0px;
    }
}
.intro_wrap {
    padding: 0 24px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-top: 34px;
        margin-bottom: 40px;
        @media screen and(min-width:$tablet) {
            margin-top: 24px;
        }
    }

    @media screen and(min-width:$tablet) {
        padding: 0;
        margin-bottom: 0;
    }
    @media screen and(min-width:$desktop) {
        max-width: 445px;
        margin-right: 125px;
        justify-content: center;
    }
}
.btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
        margin: 0;
        @media screen and(min-width:$desktop) {
            margin-left: 40px;
        }
    }
    @media screen and(min-width:$desktop) {
        justify-content: initial;
    }
}
.main_image {
    display: flex;
    overflow: hidden;

    picture {
        display: flex;
        width: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        position: relative;
        left: 24px;
        @media screen and(min-width: $tablet) {
            left: 70px;
        }
        @media screen and(min-width:$desktop) {
            left: 0;
        }
    }
}

.square_header {
    display: none;

    @media screen and(min-width:$desktop) {
        display: initial;
        position: absolute;
        top: 0;
        right: -230px;
    }
    @media screen and(min-width:1300px) {
        right: -180px;
    }
    @media screen and(min-width:1500px) {
        right: -100px;
    }
}
.section_keyboard {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 110px;
    @media screen and(min-width:$tablet) {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 40px;
        margin-bottom: 142px;
    }

    @media screen and(min-width:$desktop) {
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
        margin-bottom: 170px;
    }
}

.square_keyboard {
    display: none;
    @media screen and(min-width:$desktop) {
        display: initial;
        position: absolute;
        bottom: 0;
        left: -230px;
    }
    @media screen and(min-width:1300px) {
        left: -180px;
    }
    @media screen and(min-width:1500px) {
        leftt: -100px;
    }
}
.container_keyboard {
    @media screen and(min-width:$desktop) {
        width: 100%;
        max-width: 1110px;
        display: flex;
    }
}
.images_keyboard {
    display: flex;
    overflow: hidden;
    padding-right: 24px;
    picture {
        display: flex;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    @media screen and(min-width:$tablet) {
        padding-right: 0;
    }
}
.image1 {
    position: relative;
    right: 24px;
    background: var(--Orange);
    border-radius: 20px;
    img {
        mix-blend-mode: multiply;
    }

    @media screen and(min-width:$tablet) {
        right: 0px;
        margin-right: 30px;
    }
}
.section_info {
    text-align: center;
    padding: 0 24px;
    h2 {
        margin-top: 75px;
        margin-bottom: 24px;
        @media screen and(min-width:$tablet) {
            margin: 0;
            max-width: 255px;
        }
        @media screen and(min-width:$desktop) {
            max-width: initial;
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
    p {
        @media screen and(min-width:$tablet) {
            max-width: 400px;
        }
        @media screen and(min-width:$desktop) {
            max-width: initial;
        }
    }
    @media screen and(min-width:$tablet) {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: initial;
        margin-top: 72px;
    }

    @media screen and(min-width:$desktop) {
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        margin-left: 125px;
        max-width: 300px;
    }
}
.section_details {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 96px;
    @media screen and(min-width:$tablet) {
        padding: 0;
        padding-left: 40px;
        margin-bottom: 140px;
    }
    @media screen and(min-width:$desktop) {
        display: flex;
        justify-content: center;
        padding: 0 40px;
        margin-bottom: 130px;
    }
}
.details_wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 64px;
    @media screen and(min-width:$tablet) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 72px; /**/
        width: 100%;
        max-width: 650px;
    }
    @media screen and(min-width:$desktop) {
        max-width: 1110px;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 0;
    }
    h4 {
        width: 65%;
        @media screen and(min-width:$desktop) {
            width: 70%;
        }
    }
    p {
        @media screen and(min-width:$tablet) {
            margin-top: auto;
        }
        @media screen and(min-width:$desktop) {
            margin-top: initial;
        }
    }
}
.footer {
    font-family: "barlow";
    color: var(--LightBlue);
    text-align: center;
    margin: auto;
    padding: 0 24px;
    p {
        font-weight: 700;
    }
    span {
        font-weight: 500;
    }
}
